@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to admin page</h1>
    <a type="button" class="btn btn-link" asp-action="Layer" asp-controller="Admin">Layers</a>
    <a type=button class="btn btn-link" asp-action="Ingredient" asp-controller="Admin">Ingredients</a>
    <a type=button class="btn btn-link" asp-action="Pizza" asp-controller="Admin">Add Pizza</a>
    <a type=button class="btn btn-link" asp-action="AllPizzas" asp-controller="Admin">Pizzas</a>
</div>
