@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to admin page</h1>
    <button type="button" class="btn btn-link" asp-action="Layer" asp-controller="Admin">Layers</button>
    <button type=button class="btn btn-link" asp-action="Ingredient" asp-controller="Admin">Ingredients</button>
    <button type=button class="btn btn-link" asp-action="Pizza" asp-controller="Admin">Add Pizza</button>
    <button type=button class="btn btn-link" asp-action="AllPizzas" asp-controller="Admin">Pizzas</button>
</div>
