@using Pizzeria.Helper
@{
    var isLogged = !SessionHelper.IsUsernameEmpty(Context.Session);
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" asp-action="Index" asp-controller=@(isLogged ? "Admin" : "Home")>Pizzeria</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            @if (isLogged)
            {
                <a class="nav-item nav-link" asp-action="Layer" asp-controller="Admin">Layers</a>
                <a class="nav-item nav-link" asp-action="Ingredient" asp-controller="Admin">Ingredients</a>
                <a class="nav-item nav-link" asp-action="Pizza" asp-controller="Admin">Add Pizza</a>
                <a class="nav-item nav-link" asp-action="AddPizzas" asp-controller="Admin">Pizzas</a>
            }
            else
            {
                <a class="nav-item nav-link" asp-action="Login" asp-controller="Admin">Login</a>
            }
        </div>
    </div>
</nav>

